// Color
$color-background: rgb(226, 230, 233);
$color-text: #232524;

$color-secondary: rgb(127, 127, 127);

// Other
$transition-time: 0.75s;
$transition-content-ease: cubic-bezier(0, 0.6, 0.2, 1);
$header-height: 50px;
$transition-header-ease: cubic-bezier(0.5, 0, 0.7, 1);