// Color
$color-background: rgb(0, 0, 0);
$color-text: #ffffff;

$color-secondary: rgb(161, 161, 161);

$color-glass-modal: rgba(77, 77, 77, 0.464);
$color-glass-modal-edge: rgba(255, 255, 255, 0.163);

$color-glass-modal-scrollbar: rgba(170, 170, 170, 0.388);


// Other
$transition-time: 2s;
$transition-content-ease: cubic-bezier(0.4, 0.2, 0, 1);
$header-height: 50px;
$transition-header-ease: cubic-bezier(0.4, 0, 0, 1);