// Color
$color-background: rgb(0, 0, 0);
$color-text: #ffffff;

$color-secondary: rgb(161, 161, 161);

$color-glass-modal: rgba(77, 77, 77, 0.464);
$color-glass-modal-edge: rgba(255, 255, 255, 0.267);

$color-header: rgb(53, 53, 53);

// Other
$transition-time: 0.75s;
$transition-content-ease: cubic-bezier(0, 0.6, 0.2, 1);
$header-height: 50px;
$transition-header-ease: cubic-bezier(0.5, 0, 0.7, 1);