body {
  color: $color-text;
  background: $color-background;
}

body,
#app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Yu Gothic", "YuGothic", "游ゴシック", "Meiryo", "メイリオ", sans-serif;
}
